/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
  } */
  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } */
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */


table, th, td {
    border: 1px solid black;
    color: white;
  }

  th, td {
      padding: 8px;
  }
