.first {
    background-image: url('https://media2.giphy.com/media/1AHE70XtXjpblP44Kx/giphy.gif?cid=790b7611fe732bcdb5d3a3a0bc8174bf563ed0cb6f099bb0&rid=giphy.gif');    
    background-repeat: no-repeat;
    width: 1940px;
    padding: 70% 50% 20% 50%;
    background-size: 100%;
}
